body {
  background-color: rgb(222, 222, 222);
}

/* NOTE These are all the text settings */
h1 {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

h3 {
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-family: 'Oswald', sans-serif;
}

p {
  margin: 0px;
}

.nav-text {
  font-size: 16px;
}

a {
  color: rgb(245, 245, 245);
  text-decoration: none;
  transition: .5s;
  font-family: 'Oswald', sans-serif;
}

a:hover {
  color: white;
  filter: drop-shadow(10px 5px 15px rgb(0, 0, 0))
}

.logo-title {
  font-size: 36px;
}

.form-heading {
  font-size: 14px;
  position: absolute;
  top: -30px;
}

.icon-heading {
  font-size: 36px;
}

.icon-card-icons {
  font-size: 12px;
  padding: 20px;
  color: rgb(211, 159, 91) !important;
}

.mdi {
  font-size: 24px;
  margin: 15px;
}

.shield-icon {
  font-size: 64px;
}

.placeholder-text {
  font-size: 12px;

}

.button-wrapper {
  position: relative;
}

.button-describe {
  position: absolute;
  bottom: 100px;
}

/* NOTE These are all of the color classes */
.orange {
  color: rgb(211, 159, 91);
}

.bg-orange {
  background-color: rgb(211, 159, 91);
}

.lightgrey {
  color: rgb(245, 245, 245);
}

.bg-lightgrey {
  background-color: rgb(245, 245, 245);
}

.darkgrey {
  color: rgb(41, 37, 48);
}

.bg-darkgrey {
  background-color: rgb(41, 37, 48);
}

/* NOTE These are the section classes */
header {
  position: fixed;
  top: 0px;
  z-index: 5;
}

.navigation {
  height: 10vh;
  background-color: rgb(211, 159, 91);
  position: sticky;
}

.title-banner {
  min-height: 10vh;
  background-color: rgb(211, 159, 91);
}

.icon-banner {
  min-height: 30vh;
  position: relative;
}

.icon-wrapper {
  text-align: start;
}

.describe {
  min-height: 60vh;
}

.reviews {
  min-height: 50vh;
  margin-bottom: 0px 50px !important;
}

.cta {
  min-height: 30vh;
}

footer {
  height: 10vh;
}

/* NOTE Logo Icon */
.beehive {
  font-size: 36px;
}

/* NOTE These are the img classes */
.splash-page {
  padding-top: 50px;
  min-height: 70vh;
  background-image: url(https://images.unsplash.com/photo-1499696010180-025ef6e1a8f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
}

.canoe {
  height: auto;
  width: 25vw;
  padding: 2rem;
  margin: 5rem;
  box-shadow: 5px 5px 20px rgb(39, 39, 39, .5);
}

/* NOTE These are the Card classes */
.splash-card {
  background-color: rgb(41, 37, 48, .4);
  border-color: rgb(211, 159, 91) !important;
  width: 30vw;
  max-height: 15vh;
  margin-top: 50px;
}

.form-card {
  min-height: 50vh;
  width: 25vw;
  padding: 2rem;
  position: relative;
  margin: 5rem;
  box-shadow: 5px 5px 20px rgb(39, 39, 39, .5);
}

.icon-card {
  height: auto !important;
  position: absolute;
  align-items: center;
  right: 60px;
  bottom: -125px;
  box-shadow: 5px 5px 20px rgb(39, 39, 39, .5);
}

.review-card {
  box-shadow: 5px 5px 20px rgb(39, 39, 39, .5);
  margin-top: 50px !important;
}

.describe-info {
  max-width: 40vw;
}

/*NOTE @media Mobile Settings */
@media (max-width:786px) {
  .navigation {
    height: 25vh;
  }

  .describe {
    min-height: 60vh;
    text-align: center;
  }

  /* NOTE these are the MOBILE Text Classes */
  .icon-card-icons {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
  }

  .button-describe {
    position: relative;
    bottom: 0px;
  }

  /* NOTE MOBILE Form Classes */
  .form-card {
    height: 70vh;
    width: 80vw;
    position: relative;
    margin: 1rem;
    box-shadow: 5x 5px 10px black;
  }

  /* NOTE These are the MOBILE img classes */
  .splash-page {
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1499696010180-025ef6e1a8f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80);
  }

  .canoe {
    height: auto;
    width: 95vw;
    padding: 2rem;
    margin: 0rem;
    box-shadow: 0px 0px 0px rgb(39, 39, 39, .0);
  }

  /* NOTE These are the MOBILE card settings */
  .icon-card {
    height: auto !important;
    position: relative !important;
    right: 0px;
    bottom: 0px;
    box-shadow: 5px 5px 20px rgb(39, 39, 39, .0);
  }

  .describe-info {
    max-width: 100vw;
    padding-left: 40px;
  }
}